# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Automated tests
pytest==6.2.1
pytest-cov==2.11.1
pytest-order==0.9.3

# MongoDB - In memory for tests
pymongo_inmemory==0.1.4
