{% extends "base.html" %}

{% block body %}

{% if not error %}

<div class="container">
  <h2>Settings</h2>
</div>

<div class="container">
  {% include "settings_nav.html" %}
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Enabled</th>
        <th>Created Timestamp (UTC)</th>
        <th>Modified Timestamp (UTC)</th>
        <th>Modified By</th>
      </tr>
    </thead>
    <tbody>
      {% if user %}
      <tr>
        <td>{{ user['email'] }}</td>
        <td>{{ user['role'] }}</td>
        <td>{{ user['first_name'] }}</td>
        <td>{{ user['last_name'] }}</td>
        <td>{{ user['enabled'] }}</td>
        {% if user['created_timestamp'] is not none %}
          <td>{{ user['created_timestamp'] | epoch_to_date }}</td>
        {% else %}
          <td>{{ user['created_timestamp'] }}</td>
        {% endif %}
        {% if user['modified_timestamp'] is not none %}
          <td>{{ user['modified_timestamp'] | epoch_to_date }}</td>
        {% else %}
          <td>{{ user['modified_timestamp'] }}</td>
        {% endif %}
        <td>{{ user['modified_by'] }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if user['sso'] is none %}
    <button type="button" class="float-right btn-sm btn-primary" data-toggle="modal" data-target="#EditUserModal">
      Edit User
    </button>
    <button type="button" class="float-right btn-sm btn-danger" data-toggle="modal" data-target="#DeleteUserModal">
      Delete User
    </button>
  {% endif %}
</div>

{% if user %}
  {% include "users/edit_user_modal.html" %}
  {% include "users/delete_user_modal.html" %}
{% endif %}

{% endif %}

{% endblock %}
