# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# FastAPI Framework
fastapi==0.63.0
uvicorn==0.13.2
python-multipart==0.0.5
python-jose[cryptography]==3.2.0
passlib[bcrypt]==1.7.4
pydantic[email]==1.7.3

# MongoDB
pymongo[srv]==3.11.2
