{% extends "base.html" %}

{% block body %}

<div class="container">
  <div class="d-inline">
    <h2 class="float-left">Applications</h2>
    <!-- TODO: Only display if user is Editor or Admin -->
    <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#AddApplicationModal">
      Add New
    </button>
  </div>
  {% if error %}
  <div>{{ error }}</div>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Application</th>
        <th>Services</th>
      </tr>
    </thead>
    <tbody>
      {% for app in app_list %}
      <tr>
        <td>{{ app }}</td>
        <td>
          {% for service in services %}
            {% if app in service.application %}
              {{ service.service }}
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> <!-- container-->

<!-- Modal -->
<div class="modal fade" id="AddApplicationModal" tabindex="-1" role="dialog" aria-labelledby="AddApplicationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddApplicationModalTitle">Add Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-group" action="{{ url_for('applications_page.add_application') }}" method=put>
        <div class="modal-body">
          <!-- Service Name -->
          <label for="service_name" class="col-form-label">Service Name:</label>
          <input type="text" class="form-control" placeholder="Service Name" name="service_name" id="service_name" value="{{ request.form.service_name}}" required autofocus>
          <!-- Application Name -->
          <label for="application_name" class="col-form-label">Application Name:</label>
          <input type="text" class="form-control" placeholder="Application Name" name="application_name" id="application_name" value="{{ request.form.application_name}}" required>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type=submit value="Submit" name="add_application" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
