<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom Compiled Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/custom_bootstrap.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap Bundle which includes Popper.js -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <title>DeployBoard</title>
  </head>
  <body class="site bg-{{ theme }}">
    {% if header != False %}
      {% include "header.html" %}
    {% endif %}
    <main class="site-content">
      {% block body %}{% endblock %}
    </main>
    {% if not no_footer %}
      {% include "footer.html" %}
    {% endif %}
  </body>
</html>
