{% extends "base.html" %}

{% block body %}

<!--  Uncomment for auto-refresh TODO: set up auto-refresh as a variable -->
<!--  <meta http-equiv="refresh" content="60; URL={{ application_url }}/dashboard/">-->

<div class="container">
  <div class="d-inline">
    <h2 class="float-left">Dashboard</h2>
    <div class="float-right">
      <input class="form-control" id="dashboardInput" type="text" placeholder="Filter..">
    </div>
  </div>
</div>

<div class="container">

  {% if error %}
  <div>{{ error }}</div>
  {% endif %}

  <table>
    <thead>
      <tr>
        <th>Application</th>
        <th>Service</th>
        <th>Environment</th>
        <th>Version</th>
        <th>Status</th>
        <th>Tags</th>
        <th>Timestamp (UTC)</th>
      </tr>
    </thead>
    <tbody id="dashboardTable">
      {% for service in services %}
      {% for version in service.versions %}
      <tr>
        <td>{{ service['application'] }}</td>
        <td>{{ service['service'] }}</td>
        <td>{{ version['environment'] }}</td>
        <td>{{ version['version'] }}</td>
        <td>{{ version['status'] }}</td>
        <td>
        {% for tag in service['tags'] %}
          <span class="badge badge-primary">{{ tag }}</span>
        {% endfor %}
        </td>
        <td>{{ version['timestamp'] | epoch_to_date }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Filter Script -->
<script>
  $(document).ready(function(){
    $("#dashboardInput").on("keyup", function() {
      let value = $(this).val().toLowerCase();
      $("#dashboardTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

{% endblock %}
