{% extends "base.html" %}

{% block body %}

<div class="container">
    <h2>Settings</h2>
</div>

<div class="container">
  {% include "settings_nav.html" %}

  {% if error %}
  <div>{{ error }}</div>
  {% endif %}

  <table>
    <thead>
      <tr>
        <th>Priority</th>
        <th>Environment</th>
        <th style="width:20%;text-align:right">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% if environments %}
      {% for env in environments %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ env }}</td>
        <td style="width:20%" align="right">
          <div class="d-inline-flex">
            <!-- Down Button -->
            <form class="form-group" action="{{ url_for('environments_page.environments_post') }}" method=post>
              <!-- Environment Name -->
              <input type="hidden" class="form-control" name="environment_name" id="environment_name" value="{{ env }}"/>
              <!-- Environment List -->
              <input type="hidden" class="form-control" name="environment_list" id="environment_list" value="{{ environments }}"/>
              <!-- Action -->
              <input type="hidden" name="action" value="down"/>
              <!-- CSRF Token -->
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" class="btn btn-primary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </button>
            </form>
            &nbsp; <!-- Just a space -->
            <!-- Up Button -->
            <form class="form-group" action="{{ url_for('environments_page.environments_post') }}" method=post>
              <!-- Environment Name -->
              <input type="hidden" class="form-control" name="environment_name" id="environment_name" value="{{ env }}"/>
              <!-- Environment List -->
              <input type="hidden" class="form-control" name="environment_list" id="environment_list" value="{{ environments }}"/>
              <!-- Action -->
              <input type="hidden" name="action" value="up"/>
              <!-- CSRF Token -->
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" class="btn btn-primary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
