{% extends "base.html" %}

{% block body %}

<div class="container">
    <h2>Settings</h2>
</div>

<div class="container">
  {% include "settings_nav.html" %}

  {% if error %}
  <div>{{ error }}</div>
  {% endif %}

  <table>
    <thead>
      <tr>
        <th>Priority</th>
        <th>Environment</th>
      </tr>
    </thead>
    <tbody>
      {% if environments %}
      {% for env in environments %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ env }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
