<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar collapse navbar-collapse" id="containerNavbar">
    <ul class="navbar-nav nav-tabs mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/settings/users/' %}active{% endif %}" href="/settings/users/">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/settings/apikeys/' %}active{% endif %}" href="/settings/apikeys/">API Keys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/settings/integrations/' %}active{% endif %}" href="/settings/integrations/">Integrations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/settings/billing/' %}active{% endif %}" href="/settings/billing/">Billing</a>
      </li>
    </ul>
  </div>
</nav>
