<div class="modal fade" id="AddApiKeyModal" tabindex="-1" role="dialog" aria-labelledby="AddApiKeyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddApiKeyModalTitle">Add Api Key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-group" action="{{ url_for('apikeys_page.apikeys_post') }}" method=post>
        <div class="modal-body">
          <!-- Api Key Name -->
          <label for="apikey_name" class="col-form-label">Name:</label>
          <input type="text" class="form-control" placeholder="Name" name="apikey_name" id="apikey_name" value="{{ request.form.apikey_name }}" required autofocus/>
          <!-- Api Key Role-->
          <label for="apikey_role" class="col-form-label">Role:</label>
          <select class="form-control" name="apikey_role" id="apikey_role">
            <option selected value="Viewer">Viewer</option>
            <option value="Editor">Editor</option>
            <option value="Admin">Admin</option>
          </select>
          <!-- Action -->
          <input type="hidden" name="action" value="add"/>
          <!-- CSRF Token -->
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type=submit value="Submit" name="Add Api Key" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
</div>
