# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.3.2
Flask-WTF==1.0.0

requests==2.27.1
python-dateutil==2.8.2
python-jose[cryptography]==3.3.0
